<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #00AAE2;"></ion-menu-button>
    </ion-buttons>
    <ion-row class="row-logo">
      <ion-col class="col-logo">
        <img id="logo" src="../../assets/logo.svg"/>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="hello">Olá, {{ userData.objeto.nome }}</div>
  <div id="text">Aqui você pode consultar todos os nossos parceiros e trocar seus pontos por experiências incríveis.</div>
  <ion-row style="margin: 1rem;">
    <ion-col class="medal">
      <img src="../../assets/trophy.svg" style="width: 50px;"/>
    </ion-col>
    <ion-col class="points">
      <ion-row id="my-pnts">Meus Pontos</ion-row>
      <ion-row id="pnts">{{ userData.objeto.pontos }}</ion-row>
    </ion-col>
  </ion-row>  
  <hr style="height: 1px; border-width: 1px; margin: 10px;">
  <ion-row id="info">
    <ion-col style="text-align: start;">PG Store</ion-col>
    <ion-col style="text-align: end; font-weight: normal;"><div (click)="extract()">Extrato de Pontos</div></ion-col>
  </ion-row>
  <ion-row style="margin: 1rem; place-content: center;">
    <ion-col (click)="modalDischarge(premio)" class="benefits" *ngFor="let premio of premios">
      <div>
        <img class="img-benefit" [src]="premio.img_produto"/>
      </div>
      <ion-label id="benefit">{{premio.nome}}</ion-label>
      <br>
      <ion-label id="benefit" style="color: #00AAE2; font-weight: bolder;">{{ premio.valor }} pontos</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
