#logo {
    max-width: 5rem;
    max-height: 100%;
    display: flex;
}

.col-logo {
    display: flex; 
    justify-content: center;
}

.row-logo {
    margin-right: 48px;
    padding: 0 8px 0 0;
}

ion-content {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
}

#my-pnts {
    font-size: 12px;
    color: #5D4B9D;
    font-weight: bolder;
}

#pnts {
    color: #00AAE2;
    font-weight: bolder;
    font-size: 1rem;
}

.medal {
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    display: flex;
}