#logo {
    max-width: 5rem;
    max-height: 100%;
    display: flex;
}

.col-logo {
    display: flex; 
    justify-content: center;
}

.row-logo {
    margin-right: 48px;
    padding: 0 8px 0 0;
}

.font {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
}

#my-pnts {
    font-size: 12px;
    color: #5D4B9D;
    font-weight: bolder;
}

#pnts {
    color: #00AAE2;
    font-weight: bolder;
    font-size: 1rem;
}

.medal {
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    display: flex;
}

.back {
    margin: 1rem;
}

.infos {
    margin: 1rem;
}

.file {
    margin: 0 1rem;
}

.label-ponto {
    margin-left: 0.5rem;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke-width: thin;
    align-self: center;
}