ion-content{
    --ion-background-color:#5D4B9D;
}

#logo {
    padding: 6rem 5rem 1rem;
}

.row-login {
    justify-content: center;
    display: flex;
}

.input-login {
    background-color: white;
    border-radius: 2rem;
}

.div-form {
    width: 100%;
    padding: 1rem 2rem;
}

.input-login {
    width: 100%;
    border-radius: 2rem;
    --padding-start: 1rem;
    --padding-end: 0.6rem;
    --padding-top: 7px;
    --padding-bottom: 7px;
}

.label-form {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.error {
    margin: 0px 2rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-align: center;
}

#btn-entrar.button-disabled {
    --color: white;
    --background: #C8D0DA;
    --opacity: 0.8;
}