<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #00AAE2;"></ion-menu-button>
    </ion-buttons>
    <div class="logo">
      <img id="logo" src="../../assets/logo.svg"/>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appAutoHide [fab]="fab">
  <ion-fab #fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="--background: white;" (click)="showMap()">
      <img src="../../assets/map-target.svg">
    </ion-fab-button>
  </ion-fab>
  <ion-item style="--border-color: transparent">
    <div class="place">{{ point.nome }}</div>
  </ion-item>
  <ion-slides [options]="sliderOpts" *ngIf="urls == 0">
    <ion-slide *ngFor="let img of [1,2,3]">
      <img src="../../assets/shapes.svg" tappable (click)="openPreview(img)"/>
    </ion-slide>
  </ion-slides>
  <ion-slides [options]="sliderOpts" *ngIf="urls != 0">
    <ion-slide *ngFor="let url of urls">
      <img src="{{ url.url_img }}" tappable (click)="openPreview(url.url_img)"/>
    </ion-slide>
  </ion-slides>
  <div class="desc-ponto">Histórico</div>
  <div class="text">
    <p style="font-size: 14px;">
      {{ point.descricao }}
    </p>
    <p>
      {{ point.endereco }}
    </p>
  </div>
  <div class="rating">
    <div class="header-rating">
      <ion-row>
        <ion-col id="medal">
          <img src="../../assets/medal.svg" style="width: 50px;"/>
        </ion-col>
        <ion-col>
          <ion-row>Avaliação dos Visitantes</ion-row>
          <ion-row>
            <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" [ngStyle]="{'color':getColor(num)}"
              style="width: 20px; height: 20px; margin-left: -3px;"></ion-icon>
          </ion-row>
        </ion-col>
        <ion-col id="note">
          {{ nota | number:'1.1-1' }}
        </ion-col>
      </ion-row>
    </div>
    <hr style="height: 1px; margin: 0rem 1rem; background-color: white;">
    <div class="content-rating">
      <ion-row style="margin: 0 0 1rem;" *ngFor="let item of avaliacoes">
        <ion-col class="user-img">
          <img *ngIf="item.img==''" src="../../assets/user.png" style="max-width: 50px; max-height: 50px; border-radius: 2rem; height: 50px; object-fit: cover;"/>
          <img [src]="item.img" style="max-width: 50px; max-height: 50px; border-radius: 2rem; height: 50px; object-fit: cover;"/>
        </ion-col>
        <ion-col class="user-rating">
          <div class="user-name">
            <p>{{ item.nome }}</p>
          </div>
          <div class="user-comment">
            <p>{{ item.comentario }}</p>
          </div>
          <div class="user-comment">
            <!-- <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" [ngStyle]="{'color':getColorRate(num)}"></ion-icon>   -->
            <p>Nota: {{item.nota}}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="footer-rating">
      <ion-button id="btn-rating" (click)="showRating()">Avaliar</ion-button>
    </div>
  </div>
  <div class="btn-quiz">
    <ion-button id="btn-quiz" (click)="showQuiz()">Quiz</ion-button>
  </div>
</ion-content>
