<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-row>
            <img style="max-width: 5rem; max-height: 100%; display: flex; border-radius: 50%; margin: 1rem;" src="../../assets/limdo.jpg"/>
            <ion-title class="hello">Olá, {{ userData.objeto.nome }}</ion-title>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item style="--border-color: transparent;" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon style="color: #00AAE2;" slot="start" [name]="p.icon"></ion-icon>
              <ion-label class="menu-list">
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
