<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-row *ngIf="userData.objeto.img==''">
            <img style="max-width: 5rem; height: 5rem; display: flex; border-radius: 50%; margin: 1rem; object-fit: cover;" src="../../assets/user.png">
            <ion-title class="hello">Olá, {{ userData.objeto.nome }}</ion-title>
          </ion-row>
          <ion-row *ngIf="userData.objeto.img !== null">
            <img style="max-width: 5rem; height: 5rem; display: flex; border-radius: 50%; margin: 1rem; object-fit: cover;" [src]="userData.objeto.img">
            <ion-title class="hello">Olá, {{ userData.objeto.nome }}</ion-title>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
            <ion-item style="--border-color: transparent;" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon style="color: #00AAE2;" slot="start" [name]="p.icon"></ion-icon>
              <ion-label class="menu-list">
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item style="--border-color: transparent;" (click)="logout()" [routerDirection]="'root'">
            <ion-icon style="color: #00AAE2;" slot="start" name="log-out"></ion-icon>
            <ion-label class="menu-list">
              Sair
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
