.hello {
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke-width: thin;
    color: #5D4B9D;
    font-size: 18px;
    padding: 0;
}

.menu-list {
    font-family: 'Open Sans', sans-serif;
    -webkit-text-stroke-width: thin;
    font-size: 14px;
    color: #00AAE2;
}