<ion-content *ngIf="!response" class="font">
  <ion-row style="height: 25%;">
    <div class="name">{{ ponto }}</div>
    <div class="question">{{ questao?.texto }}</div>
  </ion-row>
  <ion-row style="height: 55%; align-items: center;">
    <ion-list class="awnser">
      <ion-radio-group [(ngModel)]="alternativa">        
        <ion-item *ngFor="let resposta of respostas " id="awnser">
          <ion-radio class="radio-awnser" value="{{ resposta.alternativa }}"  name="alternativa" ></ion-radio>
          <ion-label class="font-awnser ion-text-wrap">{{ resposta.alternativa }}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-row>
  <ion-row style="height: 20%;">
    <ion-row class="buttons">
      <ion-row class="btns">
        <ion-button class="font" id="btn-ask" (click)="responder()">Responder</ion-button>
      </ion-row>
      <ion-row class="btns">
        <div id="btn-cancel" (click)="close()">Cancelar</div>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-content>

<ion-content *ngIf="acertou" class="font">
  <ion-row style="height: 20%;" class="head">
    <div class="name" style="font-weight: bolder;">Parabéns!</div>
    <div class="question" style="padding: 0 2rem; text-align: center; color: #5B489C; margin: 0;">Você ganhou {{pontuacao}} pontos</div>
  </ion-row>
  <ion-row style="height: 40%; place-content: center;">
    <img class="checked-img" src="../../assets/checked.svg">
  </ion-row>
  <ion-row style="height: 15%;" class="congrats-text">
    <div style="padding: 0 2rem; text-align: center;">Acesse a PGStore e troque seus pontos por prêmios!</div>
  </ion-row>
  <ion-row style="height: 25%;">
    <ion-row class="buttons">
      <ion-row class="btns">
        <ion-button class="leave font" (click)="pgstore()">Ir para PGStore</ion-button>
      </ion-row>
      <ion-row class="btns">
        <div id="btn-cancel" (click)="close()">Cancelar</div>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-content>

<ion-content *ngIf="errou" class="font">
  <ion-row style="height: 20%;" class="head">
    <div class="name" style="font-weight: bolder;">Que pena :(</div>
    <div class="question" style="padding: 0 2rem; text-align: center; color: #5B489C; margin: 0;">A resposta certa seria: {{resposta}}</div>
  </ion-row>
  <ion-row style="height: 40%; place-content: center;">
    <img class="checked-img" src="../../assets/error.png">
  </ion-row>
  <ion-row style="height: 25%;" class="congrats-text">
    <div style="padding: 0 2rem; text-align: center;">{{ questao.motivo }}</div>
  </ion-row>
  <ion-row style="height: 15%;">
    <ion-row class="buttons">
      <ion-row class="btns">
        <ion-button class="leave font" (click)="close()">Fechar</ion-button>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-content>