<ion-content *ngIf="!response" class="font">
  <ion-row style="height: 25%;">
    <div class="name">{{ ponto }}</div>
    <div class="question">{{ questao?.texto }}</div>
  </ion-row>
  <ion-row style="height: 55%; align-items: center;">
    <ion-list class="awnser">
      <ion-radio-group [(ngModel)]="alternativa">        
        <ion-item *ngFor="let resposta of respostas " id="awnser">
          <ion-radio class="radio-awnser" value="{{ resposta.alternativa }}"  name="alternativa" ></ion-radio>
          <ion-label class="font-awnser ion-text-wrap">{{ resposta.alternativa }}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-row>
  <ion-row style="height: 20%;">
    <ion-row class="buttons">
      <ion-row class="btns">
        <ion-button class="font" id="btn-ask" (click)="responder()">Responder</ion-button>
      </ion-row>
      <ion-row class="btns">
        <div id="btn-cancel" (click)="close()">Cancelar</div>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-content>

<ion-content *ngIf="response" class="font">
  <ion-row style="height: 25%;" class="head">
    <div style="font-weight: bolder;">Parabéns!</div>
    <div style="padding: 0 2rem; text-align: center;">Você ganhou {{pontuacao}} pontos</div>
  </ion-row>
  <ion-row style="height: 25%;" class="congrats-img">
    <img class="checked-img" src="../../assets/checked.svg">
  </ion-row>
  <ion-row style="height: 25%;" class="congrats-text">
    <div style="padding: 0 2rem; text-align: center;">Acesse a PGStore e troque seus pontos por prêmios!</div>
  </ion-row>
  <ion-row style="height: 25%;" style="place-content: center;">
    <ion-button class="leave btn-default">Ir para PGStore</ion-button>
  </ion-row>
</ion-content>
