<ion-content class="font">
  <div class="name">Quiz - {{ ponto }}</div>
  <div class="question">Questão que será puxada do banco</div>
  <ion-list class="awnser">
    <ion-radio-group>        
      <ion-item id="awnser">
        <ion-radio class="radio-awnser" value="cord"></ion-radio>
        <ion-label class="font-awnser">Cord</ion-label>
      </ion-item>
  
      <ion-item id="awnser">
        <ion-radio class="radio-awnser" value="duesenberg"></ion-radio>
        <ion-label class="font-awnser">Duesenberg</ion-label>
      </ion-item>
  
      <ion-item id="awnser">
        <ion-radio class="radio-awnser" value="hudson"></ion-radio>
        <ion-label class="font-awnser">Hudson</ion-label>
      </ion-item>
  
      <ion-item id="awnser">
        <ion-radio class="radio-awnser" value="packard"></ion-radio>
        <ion-label class="font-awnser">Packard</ion-label>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>
  <ion-row class="buttons">
    <ion-row class="btns">
      <ion-button class="font" id="btn-ask">Responder</ion-button>
    </ion-row>
    <ion-row class="btns">
      <div id="btn-cancel" (click)="close()">Cancelar</div>
    </ion-row>
  </ion-row>
</ion-content>
