.font {font-family: "Open Sans", sans-serif;}

.font-awnser {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    align-self: center;
    width: 100%;
}

.name {
    justify-content: center;
    display: flex;
    color: #5D4B9D;
    font-size: 1rem;
    height: 3rem;
    place-items: flex-end;
    margin: 1rem;
    font-weight: bolder;
    width: 100%;
}

.question {
    justify-content: center;
    display: flex;
    color: black;
    font-size: 14px;
    margin: 0 2rem;
    text-align: center;
}

.awnser {
    margin: 1rem;
    width: 100%;
}

#awnser {
    display: flex;
    --border-color: transparent;
}

.buttons {
    justify-content: center;
    display: flex;
    width: 100%;
}

.btns {
    justify-content: center;
    display: flex;
    width: 100%;
}

#btn-ask {
    --background: #5D4B9D;
    --border-radius: 2rem;
    --color: white;
    font-size: 12px;
    width: 50%;
    text-transform: none;
}

#btn-cancel {
    color: #00AAE2;
    font-size: 12px;
}

.radio-awnser {
    margin: 1rem 1rem 1rem 0;
    --color: #3880ff;
}