<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: #00AAE2;"></ion-menu-button>
      </ion-buttons>
      <ion-row class="row-logo">
        <ion-col class="col-logo">
          <img id="logo" src="../../assets/logo.svg"/>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div id="hello">Olá, {{ userData.objeto.nome }}</div>
  <div id="text">Aqui você pode alterar sua foto, rever seus dados pessoais, definir a distância entre você e os pontos, etc.</div>
  <div style="justify-content: center; display: flex; margin: 1rem;">
    <div style="width: 13rem; height: 13rem;">
      <img id="imagem" name="imagem" type="file" style="width: 100%; border-radius: 50%; height: 100%; object-fit: cover;" (click)="uploadFoto()" [src]="userData.objeto.img"/>
    </div>
  </div>
  <div class="item-input">
    <ion-label class="font" style="font-size: 14px;"><b>Dados pessoais</b></ion-label>
  </div>
  <div class="item-input">
    <ion-input class="input-cadastro" type="text" name="nome" placeholder="{{ userData.objeto.nome }}"></ion-input>
  </div>
  <div class="item-input">
    <ion-input class="input-cadastro" type="text" name="nome" placeholder="{{ userData.objeto.telefone }}"></ion-input>
  </div>
  <div class="item-input">
    <ion-label class="font" style="font-size: 14px;"><b>Distância de busca</b></ion-label>
  </div>
  <ion-item>
    <ion-range min="1" max="10" [(ngModel)]="distancia" pin="true" color="secondary">
      <ion-label slot="start">1 Km</ion-label>
      <ion-label slot="end">10 Km</ion-label>
    </ion-range>
  </ion-item>
  <div class="item-label" style="margin: 0 1rem 1rem;">
    <ion-button style="width: 100%; height: 3rem; font-size: 12px; -webkit-appearance: none;" 
      type="submit" class="btn-default" (click)="alterarDistancia()">SALVAR</ion-button>
  </div>
</ion-content>
