#btn-cancel {
    color: #00AAE2;
    font-size: 12px;
}

#btn-ok {
    --background: #5D4B9D;
    --border-radius: 2rem;
    --color: white;
    font-size: 12px;
    width: 50%;
    text-transform: none;
}